* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --primaryColor: #d3d3d3;
  --lightSecondaryColor: #272a31;
  --darkSecondaryColor: #222;
  --accentColor: #ec5242;
  --white: #fff;
  font-family: 'Lato', sans-serif;
}

.desktop {
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
}

@media screen and (min-width: 768px){
  .mobile {
    visibility: hidden;
    position: absolute;
    left: 0;
  }

  .desktop {
    visibility: visible;
    position: static;
  }
}